/* --- Styling for Homepage / Generic Styling for all pages --- */

@font-face {
    font-family: Helvetica;
    src: url('../fonts/helvetica.otf');
}

body {
    background: radial-gradient(circle, #2C7CAC, #243464);
    background-color: #2C7CAC;
    background-repeat:round;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    width: 100%;  
}

p {
    color: #243464;
}

.center {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 960px;
    
}

.clear {
    clear: both;
}

/* --- Styling for Navigation Bar --- */

header {
    background-color: #FFF;
    border-bottom: 3px solid #CC7854;  
    height: 80px;
    width: 100%;
    z-index: 10;
}

#homeButton {
    margin-left: 30px;
    margin-right: 50px;
}

#navigationMenu {
    float: left;
    position: relative;
    width: 600px;
}

#navigationMenu ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    margin-top: 15px;
}

#navigationMenu li {
    float: left;
    list-style: none;
    margin-top: 11px;
    padding-left: 21px;   
}

#navigationMenu li a {
    color: #243464;
    font-size: 24px;
    text-decoration: none;
    
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#navigationMenu li a.active {
    color: #FF7C00;
}

#navigationMenu li a:hover {
    color: #2C7CAC;
}

#loginButtons {
    float: right;
    position: relative;
    width: 360px;
}

#loginButtons ul {
    display: block;
    list-style: none;   
    margin: 0 auto;
    margin-top: 11px;
}

#loginButtons li {   
    float: left;
    list-style: none; 
    margin-left: 30px;
    padding: 15px;
}

#loginButtons a {
    font-size: 24px;
    text-decoration: none;
    
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#loginButton {
    color: #CC7854;
}

#loginButton:hover {
    color: #2C7CAC;
}

#registerButton {
    color: #CC7854;
}

#registerButton:hover {
    color: #2C7CAC;
}

/* --- --- */

#container {
    color: #243464;
    text-align: center;
}

#container p {
    font-weight: 300; 
    color: #243464;
}

#container h1 {
    font-size: 70px;
}

#container h2 {
    font-size: 30px;
}

/* --- --- */

/* --- Banner Section of Homepage --- */

#banner {
    background:url('../images/randomBannerFromInternet.jpg') 100% 0 no-repeat;
    background-color: #FFFFF2;
    background-size: cover;
    border-bottom: 3px solid #CC7854;
    color: #243464;
    height: 800px;
    margin: 0;
    padding: 113px 0 0px 0;
    text-align: center;  
    box-shadow: inset 0px 5px 5px -5px black, inset 0px -5px 5px -5px black;  
}

#banner h1 {
    background-color: #F9F9F9;
    border: 3px solid #CC7854;
     border-radius: 30px;
    display: block;
    margin-top: 150px;
    padding: 50px 50px 50px 50px;
    text-align: left; 
}

#banner h2 {  
    background-color: #F9F9F9;
    border: 3px solid #CC7854;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 600px;
}

/* --- --- */

/* --- About Section of Homepage --- */

#about {
    background-color: white;
    height: 750px;
    padding: 10px 10px 10px;
}

#aboutLeft {
    float: left;
    margin-top: 50px;
    text-align: left;
    width: 400px;
}

#brownBorder {
    border-bottom: 3px solid #CC7854;
    padding-bottom: 25px;
}

#aboutLeft li {
    margin-left: -20px;
    margin-top: 10px;
}

#aboutRight {
    float: right;
    margin-top: 150px;
    text-align: left; 
    width: 400px;
}

/* --- --- */

/* --- Example Section of Homepage --- */

#examples {
    background-color: #ccc;
    color: #2C7CAC;
    height: 700px;
    padding: 10px 10px 10px;
    box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;  
}

#examples ul {
    border-bottom: 3px solid #2C7CAC;
    display: block;
    list-style: none;
    margin: 0 auto;
    margin-top: 35px; 
}

#examples li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 20px;
    width: 22%;
}


#examples img {
    border: 1px solid #2C7CAC;
    border-radius: 50%;
    border-spacing: 5px;
    padding: 2px;
}

#examples p {
    color: #243464;
    font-style: italic;
}

/* --- --- */

/* --- Start Now Section of Homepage --- */

#startNow {
    background-color: #ffffff;
    height: 930px;
    padding: 10px 10px 10px;
}

#startNow ul {
    border-bottom:;
    display: block;
    list-style: none;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0px;
    width: 100%;
}

#startNow ul.nav {
    text-align: center;
}


#startNow li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px; 
    width: 25%;
    height: 300px;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#startNow li:hover {
    color: #2C7CAC;
    margin: 0;
}

#startNow li p {
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#startNow li:hover p {
    color: #CC7854;
}

#startNow img {
    border: 2px solid #2C7CAC;
    border-radius: 50%;
    padding: 0px;
    width: 150px;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#startNow li:hover img {
    border: 4px solid #2C7CAC;
    border-radius: 50%;
    padding: 0px;
    width: 200px;
}

#startNow h3 {
    color: #CC7854;
}

/* --- --- */

/* --- Meet the Makers Section of the Homepage--- */

#meet {
    background-color: #CC7854;
    color: #F9F9F9;
    height: 800px;
    padding: 10px 10px 10px;
    box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;  
}

#meet h1 {
    border-bottom: 3px solid #F9F9F9;
    margin-top: 50px;
    padding-bottom: 30px; 
}

#meet img {
    border-radius: 50%;
    border: 3px solid #F9F9F9;
    padding: 5px;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#meet li:hover img{
    border: 13px solid #243464;
    padding: 0px;
}

#meet li:hover h3{
    color: #243464;
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 3px solid #F9F9F9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#meet ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
}

#meet li {
    margin: 0 auto;
    display: inline-block;
    float: left;
    width: 30%;
    list-style: none;
    margin: 1.5%;
}

#meet li p {
    color: #F9F9F9;
    opacity: 0;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#meet li:hover p {
    opacity: 1;
}

/* --- --- */

/* --- Footer Styling --- */

footer {
    padding-top: 10px;
    height: 450px;
    width: 100%;
    background-color: #243464;
    color: #F9F9F9;
    text-align: center;
    box-shadow: 0px 0px 10px black; 
}

footer p {
    color: #F9F9F9;
    font-size: 13px;
}

#siteMap {
    height: 300px;
}

#siteMap ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 1.5%;
    float:left;
    height: 250px;
    
}

#copyright {
    text-align: center;
    padding-top: 50px;
    border-top: 3px solid #F9F9F9;
}

#siteMap a {
    color: #f9f9f9;
    text-decoration: none;
}
/* --- --- */

/* --- Styling for the Login / Register Pages --- */

#formContainer {
    margin: 0 auto;
    width: 400px;
    margin-top: 100px;
    background-color: white;
    color: #243464;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
}

#formContainer a {
    color: #CC7854;
    text-decoration: none;
    font-weight: 600;
}

#formContainer input[type=password] {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    text-align: left;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 300px;
}

#formContainer input[type=text] {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    text-align: left;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 300px;
}

#formContainer input[type=text]:focus {
    border: 3px solid #243464;
}

#formContainer input[type=submit] { 
    background-color: #243464;
    color: #F9F9F9;
    border-radius: 5px;
    border-style: none;
    font-size: 30px;
    outline: none;
    padding: 15px;  
}

#formContainer input[type=submit]:active {
    background-color: #CC7854;
}

#formContainer input[type=submit]:focus {
    background-color: #CC7854;
}

/* --- --- */

/* --- Styling for the postProject Page --- */

#postContainer {
    margin: 0 auto;
    width: 900px;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: white;
    color: #243464;
    text-align: left;
    padding: 15px;
    padding-top: 25px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
}

#postContainer li {
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#postContainer p {
    color: #2C7CAC;
    font-size: 18px;
    width: 800px;
}

#postContainer input[type=text] {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    text-align: left;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 800px;
}

#postContainer input:active {
    border: 3px solid #243464;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

#postContainer input:focus {
    border: 3px solid #243464;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

#postContainer textArea {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    text-align: left;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 800px;
}

#postContainer textArea:active {
    border: 3px solid #243464;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

#postContainer textArea:focus {
    border: 3px solid #243464;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

#postContainer input[type=number] {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    text-align: center;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 150px;
}

#postContainer input[type=file] {
    border: 3px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    
    transition: 0.6s;
    -webkit-transition: 0.6s;
    
    width: 300px;
}

#postContainer input[type=submit] { 
    background-color: #243464;
    color: #F9F9F9;
    border-radius: 5px;
    border-style: none;
    font-size: 30px;s
    outline: none;
    padding: 15px;  
    margin-left: 50px;
}

#postContainer input[type=submit]:active {
    background-color: #CC7854;
}

#postContainer input[type=submit]:focus {
    background-color: #CC7854;
}

#budgetList {
    height: 285px;
}

#postBudget {
    float: left;
    height: 200px;
    width: 250px;
}

#postPrivacy {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 50px;
    padding: 10px;
    text-align: left;
}

#privacType input[type=radio] {
    margin-left: -10px;
}


/* --- --- */

/* --- Styling for the marketplace Page --- */

#marketplaceContainer {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 50px;
    height: 2140px;
}

#marketPoster {
    margin-top: 50px;
    display: block;
    background-color: #CC7854;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    width: 350px;
    float: left;
    text-decoration: none;
    
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

#marketplaceContainer a:hover {
    background-color: #2C7CAC;
}

#marketSearch {
    margin-top: 50px;
    display: block;
    background-color: white;
    color: #243464;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    width: 350px;
    float: left;
    height: 500px;
}

#marketPosts {
    margin-top: 50px;
    display: block;
    background-color: white;
    color: #243464;
    text-align: left;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    width: 750px;
    float: right;
    height: 2050px;
}

#marketPages {
    height: 10px;
    float: none;
    margin-bottom: 30px;
}

#marketPages ul {
    
}

#marketPages li {
    list-style: none;
    background-color: #f9f9f9;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}

#userPost {
    margin: 0 auto;
    height: 200px;
    width: 700px;
    border: solid 1px #ccc;
    padding: 20px;
}

#postImage {
    border: solid 1px #ccc;
}

#postRating {
    margin-top: 15px;
}

#userPost h4 {
    margin-top: 23px;
    color: #2C7CAC;
}
#userPost ul {
    width: 650px;
    height: 70px;
    padding-left: 0px;
    margin-top: 0px;
}

#userPost li {
    list-style: none;
    float: left;
    margin-right: 40px;
}

#footerBreaker {
    height: 1px;
    width: 100%;
}

/* --- --- */

/* --- Styling for the profile/portfolio Page --- */

#profileContainer {
    margin: 0 auto;
    width: 900px;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: white;
    color: #243464;
    text-align: left;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    height: auto;
}

#profileHeader {
    padding: 30px;
    overflow: hidden;
}

#profilePicture {
    float: left;
    width: 30%;
    height: 300px;
}

#profilePicture img {
    border: 4px solid #CC7854;
}

#profileInfo {
    float: right;
    width: 65%;    
    text-align: center;
}

#profileInfo h2 {
    font-size: 30px;
    color: #CC7854;
}

#profileInfo p {
    text-align: left;
    padding: 15px;
}

#profileContainer a {
    text-decoration: none;
}

#profilePortfolio {
    text-align: center;
    width: 850px;
    background: #f9f9f9;
    box-shadow: inset 0px 0px 5px black; 
    overflow-y: hidden;
    margin-bottom: 50px;
    margin: 0 auto;
}

#profilePorfolio ul {
    margin-top: 15px;
    list-style: none;
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 25px;
    padding-bottom: 50px;
}

#profilePortfolio li {
    list-style: none;
    float: left;
    width: 30%;
    padding: 1%;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 25px;
}

#profileMore {
    margin-bottom: 15px;
}

#portfolioHeader {
    padding: 30px;
    text-align: center;
}

/* --- --- */

/* --- Button Styling --- */

button {
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #243464;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #ccc;
    
    margin: 0 auto;
    border-radius: 3px;
    
    justify-content: center;
    display: flex;
}

button:hover {
    background-color: #2C7CAC;
}

button:active {
    background-color: #2C7CAC;
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

/* --- --- */

/* --- jobPost Page Styling --- */

#jobContainer {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: white;
    color: #243464;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    height: auto;
}

#jobContainer h2 {
    color: #CC7854;
}

#jobContainer img {
    float: left;
    margin: 20px;
    border: 1px solid #CC7854;
}

#jobHeader {
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

#jobInspiration {
    text-align: center;
    width: 90%;
    overflow-y: hidden;
    margin-bottom: 50px;
    margin: 0 auto;
}

#jobInspiration ul {
    list-style: none;
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 25px;
}

#jobInspiration li {
    list-style: none;
    width: 30%;
    padding: 1%;
    display: inline-block;
    margin: 0 auto;
}

#jobOptions {
    margin: 0 auto;
    width: 50%;
    min-height: 100px;
    justify-content: center;
    display: flex;
}

#jobOptions button {
    margin: 0 auto;
    font-size: 20px;
    height: 35px;
}

#jobOptions a {
    margin: 0 auto;
    text-decoration: none;
}

/* --- --- */

/* --- Support Pages Styling --- */

#supportContainer {
	margin: 0 auto;
    width: 1200px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: white;
    color: #243464;
    padding: 15px;
    box-shadow: 0px 0px 10px black; 
    border-radius: 5px;
    height: auto;
    text-align: center;
    min-height: 680px;
}

#supportContainer h2 {
    color: #CC7854;
}

#supportContainer li {
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-bottom: 1px solid #CC7854;
}

#supportContainer ol li {
  color: #2c7cac;
  margin-right:10%;
  margin-left:5%;
  text-align:left;


}

#howdoesitwork img {
	float:center;
    margin-right:10%;
    margin-left:5%;
}

.vl {
    border-left: 2px solid;
	color: #e88845;
    height: 500px;
	margin-left: 50%;
	display:inline;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline;
}

.sContainer {
    border-radius: 3px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.col-25 {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    width: 75%;
    margin-top: 6px;
}

#filter {
    list-style-type:none;
}

#supportPage {
    background-color: white;
    color: #243464;
    height: 800px;
    padding: 10px 10px 10px;
    box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;  
    text-align: center;
    justify-content: center;
}

#supportPage h1 {
    border-bottom: 3px solid #F9F9F9;
    margin-top: 50px;
    padding-bottom: 30px; 
}

#supportPage img {
    border-radius: 50%;
    border: 3px solid #F9F9F9;
    padding: 5px;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#supportPage li:hover img{
    border: 13px solid #CC7854;
    padding: 0px;
}

#supportPage li:hover h3{
    color: #243464;
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 3px solid #F9F9F9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#supportPage ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    padding: 0px;
}

#supportPage li {
    margin: 0 auto;
    display: inline-block;
    width: 45%;
    list-style: none;
    margin: 1.5%;
    
}

#supportPage li p {
    color: #243464;
    opacity: 0;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#supportPage li:hover p {
    opacity: 1;
}

#supportPage a {
    color: #243464;
    text-decoration: none;
}

/* --- --- */
